<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="/css/admin.css" />
    <title>CardiNet</title>
</head>

<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div style="background: #f8f9fa;" id="sidebar-wrapper">
            <div class="sidebar-heading text-center py-4 fs-4 fw-bold border-bottom">    
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="#008894" class="bi bi-heart-pulse-fill" viewBox="0 0 16 16">
                    <path d="M1.475 9C2.702 10.84 4.779 12.871 8 15c3.221-2.129 5.298-4.16 6.525-6H12a.5.5 0 0 1-.464-.314l-1.457-3.642-1.598 5.593a.5.5 0 0 1-.945.049L5.889 6.568l-1.473 2.21A.5.5 0 0 1 4 9H1.475Z"/>
                    <path d="M.88 8C-2.427 1.68 4.41-2 7.823 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C11.59-2 18.426 1.68 15.12 8h-2.783l-1.874-4.686a.5.5 0 0 0-.945.049L7.921 8.956 6.464 5.314a.5.5 0 0 0-.88-.091L3.732 8H.88Z"/>
                </svg>
                CardiNet
            </div>
            <div class="list-group list-group-flush my-3">
                <a href="/users" class="list-group-item list-group-item-action bg-transparent fw-bold">
                    <i class="fas fa-tachometer-alt me-2"></i>
                    Dashboard
                </a>
                <a href="/users/list" class="list-group-item list-group-item-action bg-transparent fw-bold">
                  <i class="fas fa-user-md" me-2></i>
                    Pyhsicians
                </a>
                <a href="/users/patients" class="list-group-item list-group-item-action bg-transparent fw-bold">
                  <i class="fas fa-hospital-user me-2"></i>
                    Patients
                </a>

                <a href="/users/devices" class="list-group-item list-group-item-action bg-transparent fw-bold">
                  <i class="fas fa-stethoscope me-2"></i>
                    Devices
                </a>

                <a href="/users/logout" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold">
                    <i class="fas fa-power-off me-2"></i>
                    Logout
                </a>
            </div>
        </div>
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav style="background: #f8f9fa;" class="navbar navbar-expand-lg navbar-light py-4 px-4">
                <div class="d-flex align-items-center" style="color: #008894;">
                    <i class="fas fa-align-left fs-4 me-3" id="menu-toggle"></i>
                    <h2 class="fs-2 m-0">Remote Cardiac Monitoring System</h2>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle second-text fw-bold" href="#" id="navbarDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user me-2"></i><%= user.first_name %></a>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/users/Logout">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            <div style="margin: 30px;">
              <div class="w-100 row ml-5">
                <% if(code === 0){ %>
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <%= message %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                <% } %>
                <% if(code === 1){ %>
                  <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <%= message %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                <% } %>
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/users/list">Physicians</a></li>
                    <li class="breadcrumb-item active" aria-current="page">New Physician</li>
                  </ol>
                </nav>
                <div  class="shadow-lg rounded mx-auto my-2 col-lg-6 p-4">
                  <h1 class="text-center mb-4">Physician registration</h1>
                  <form  method="post" class="needs-validation" action="/users/adduser" novalidate>
                    <div class="mb-3">
                      <label for="username" class="form-label">First name</label>
                      <input type="text" name="first_name" class="form-control" id="first_name" placeholder="Enter first name" required>
                      <div class="invalid-feedback">
                        Please provide your first name.
                      </div>
                    </div>
                    
                    <div class="mb-3">
                      <label for="username" class="form-label">Last name</label>
                      <input type="text" name="last_name" class="form-control" id="last_name" placeholder="Enter last name" required>
                      <div class="invalid-feedback">
                        Please provide your last name.
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="email" class="form-label">Email</label>
                      <input type="email" name="username" class="form-control" id="email" placeholder="Enter email" required>
                      <div class="invalid-feedback">
                        Please provide a valid email.
                      </div>
                     
                    </div>
                    <div class="mb-3">
                      <label for="password" class="form-label">Password</label>
                      <input placeholder="Enter password, 8 characters long." type="password" name="password" class="form-control" pattern=".{8,}"  id="password" required>
                      <div class="invalid-feedback">
                        Password must be 8 characters long
                      </div>
                     
                    </div>
                    <div class="mb-3">
                      <label for="confirm-password" class="form-label">Confirm Password</label>
                      <input type="password" name="confirm_password" pattern=".{8,}" class="form-control" id="confirm-password" required placeholder="Confirm your password">
                      <div class="invalid-feedback">
                       Password do not match.
                      </div>
                     
                    </div>
                    
                    <button type="submit" class="btn w-100 py-2 mt-3" style="background-color: #008894; color: white;">Register</button>
                  </form>
                </div>
              </div>
        </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script>
      var el = document.getElementById("wrapper");
      var toggleButton = document.getElementById("menu-toggle");

      toggleButton.onclick = function () {
          el.classList.toggle("toggled");
      };
      (function () {
      'use strict';

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.querySelectorAll('.needs-validation');
      console.log(forms);

      // Loop over them and prevent submission
      Array.prototype.slice.call(forms).forEach(function (form) {
        form.addEventListener('submit', function (event) {
           // Custom validation
           var password = document.getElementById('password');
            var confirmPassword = document.getElementById('confirm-password');
          if (password.value !== confirmPassword.value) {
              event.preventDefault();
              event.stopPropagation();
              confirmPassword.setCustomValidity("Passwords must match");
              
             
            }else{
              confirmPassword.setCustomValidity("");
            }
          
          
          console.log(`form validity is ${form.checkValidity()}`);
          if (!form.checkValidity()) {
            
            event.preventDefault();
            event.stopPropagation();
            
          } 

          form.classList.add('was-validated');
        }, false);
        });
      })();
  </script>
</body>

</html>